<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhaskar.doorstep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddRecentlyViewedProduct"></activity>
        <activity android:name=".AddDiscountProduct" />
        <activity android:name=".DiscountProductDetails" />
        <activity android:name=".AddressList" />
        <activity android:name=".ChangeAddress" />
        <activity android:name=".OrderStatusDetail" />
        <activity android:name=".YourOrder" />
        <activity android:name=".OrderSuccessOrFail" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".AddProductInDb" />
        <activity
            android:name=".VerifyOtp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EnterMobileNumber"
            android:windowSoftInputMode="adjustResize" /> <!-- loding screen activity -->
        <activity android:name=".LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other screen activity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ProductDetails" />
        <activity android:name=".AllCategory" />
        <activity android:name=".SingleCategory" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>